option_settings:
  - option_name: ROOT_DOMAIN
    value: hello.is
  - option_name: ROOT_CDN
    value: hellocdn.net
  - option_name: SHARING_APP_SECRET_KEY
    value: foobar
  - option_name: MEMCACHED_HOSTNAME
    value: foobar
  - option_name: MEMCACHED_PORT
    value: foobar
  - option_name: BUGSNAG_API_KEY
    value: foobar
