{% extends "base.htm" %}

{% block title %}{{title}} - {{category}} - Hello{% endblock %}

{% block meta %}
{{ super() }}
<meta name="description" content="{{content_stripped|safe}}" />

<meta property="og:url" content="https://share.{{root_domain}}/{{uuid}}" />
<meta property="og:title" content="{{title}} - {{category}} - Hello" />
<meta property="og:description" content="{{content_stripped|safe}}" />
<meta property="og:image" content="{{hero.phone_2x}}" />

<meta name="twitter:title" content="{{title}} - {{category}} - Hello" />
<meta name="twitter:url" content="https://share.{{root_domain}}/{{uuid}}" />
<meta name="twitter:description" content="{{content_stripped|safe}}" />
<meta name="twitter:image" content="{{hero.phone_2x}}" />
{% endblock %}

{% block content %}
<style>
.profile img {
  margin-top: -50px;
  border-radius: 100px
}
.profile h3 {
  font-weight: 400;
  font-size: 22px;
  margin: 20px 0 0 0;
}
.profile h4 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 300;
  color: #85909F;
}

.insight #content {
  padding: 0;
  border-bottom-color: #f8f8f8;
}

.insight #header {
  background-image: url({{hero.phone_2x}});
}
</style>

<section class="profile">
  <div class="pure-g">
    <div class="pure-u-sm-1-24 pure-u-4-24"></div>
    <div class="pure-u-sm-11-12 pure-u-16-24">
      {% if photo %}
        <img alt="" width="100" height="100" src="{{photo}}" />
      {% else %}
        <img alt="" width="100" height="100" src="/static/img/photo.png" />
      {% endif %}

      <div class="clear"></div>

      <h3>{{name}}'s Sense</h3>
      <h4>{{category}} &#149; {{time}}</h4>
    </div>
    <div class="pure-u-sm-1-24 pure-u-4-24"></div>
  </div>
</section>

<section class="text">
  <div class="pure-g">
    <div class="pure-u-sm-1-24 pure-u-4-24"></div>
    <div class="pure-u-sm-11-12 pure-u-16-24">
      <h5>{{title}}</h5>
      <h6>{{subtitle}}</h6>

      {% if message %}
        <blockquote cite="https://store.{{root_domain}}/">
          {{message|safe}}
        </blockquote>
      {% endif %}

      {{content|safe}}
    </div>
    <div class="pure-u-sm-1-24 pure-u-4-24"></div>
  </div>
</section>

<section class="meet-sense">
  <div class="pure-g">
    <div class="pure-u-sm-1-24 pure-u-7-24"></div>
    <div class="pure-u-sm-11-12 pure-u-10-24">
      <h5>Meet Sense</h5>

      <img src="/static/img/video.jpg" style="width:100%;margin: 15px 0" />

      <p>
        <a href="//store.{{root_domain}}/">Buy Sense</a>
        Sense by Hello is a simple system that tracks your sleep behavior, monitors the environment of your bedroom and reinvents the alarm.
      </p>

    </div>
    <div class="pure-u-sm-1-24 pure-u-7-24"></div>
  </div>
</section>

{% endblock %}
