{% extends "base.htm" %}

{% block title %}{{title}} - {{category}} - Hello{% endblock %}

{% block meta %}
{{ super() }}
<meta name="description" content="{{content_stripped|safe}}" />

<meta property="og:site_name" content="Hello" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="https://share.{{root_domain}}/insight/{{uuid}}" />
<meta property="og:title" content="{{title}} - {{category}} - Sense by Hello" />
<meta property="og:description" content="{{content_stripped|safe}}" />
<meta property="og:image" content="https:{{hero.phone_3x}}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@hello" />
<meta name="twitter:title" content="{{title}} - {{category}} - Sense by Hello" />
<meta name="twitter:url" content="https://share.{{root_domain}}/insight/{{uuid}}" />
<meta name="twitter:description" content="{{content_stripped|safe}}" />
<meta name="twitter:image" content="https:{{hero.phone_3x}}" />

<link rel="image_src" href="https:{{hero.phone_3x}}" />
{% endblock %}

{% block head %}
{{ super() }}
<style>
.insight #header {
  background-image: url({{hero.phone_3x}});
}
</style>
{% endblock %}

{% block content %}
<section class="profile">
  <div class="pure-g">
    <div class="pure-u-24-24">
      {% if photo %}
        <img alt="" width="100" height="100" src="{{photo}}" />
      {% else %}
        <img alt="" width="100" height="100" src="/static/img/photo.png" />
      {% endif %}

      <div class="clear"></div>

      <h3>{{name}}'s Sense</h3>
      <h4>{{category}} &#149; {{time}}</h4>
    </div>
  </div>
</section>

<section class="text">
  <div class="pure-g">
    <div class="pure-u-sm-1-24 pure-u-3-24"></div>
    <div class="pure-u-sm-11-12 pure-u-18-24">
      <h5>{{title}}</h5>
      {#<h6>{{subtitle}}</h6>#}

      {% if message %}
        <blockquote cite="https://store.{{root_domain}}/">
          {{message|safe}}
        </blockquote>
      {% endif %}

      {{content|safe}}
    </div>
    <div class="pure-u-sm-1-24 pure-u-3-24"></div>
  </div>
</section>

<section class="product">
  <div class="pure-g">
    <div class="pure-u-sm-1-24 pure-u-3-24"></div>
    <div class="pure-u-sm-22-24 pure-u-18-24">

      <div class="modal--show" id="meet-sense" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-inner">
          <div class="modal-content">
            <video preload="auto" controls>
              <source src="//player.vimeo.com/external/101139949.hd.mp4?s=28ac378e29847b77e9fb7431f05d2772" type="video/mp4">
            </video>
          </div>
        </div>
        <a href="#!" class="modal-close" data-close="Close" data-dismiss="modal">×</a>
      </div>

      <a title="Meet Sense" class="video meet-sense" href="#meet-sense">
        <img alt="" src="/static/img/play.png" width="70" height="70" />
      </a>

      <h5>Meet Sense</h5>

      <p>
        <a href="//store.{{root_domain}}/">Buy Sense</a>
        Sense by Hello is a simple system that tracks your sleep behavior, monitors the environment of your bedroom and reinvents the alarm.
      </p>

    </div>
    <div class="pure-u-sm-1-24 pure-u-3-24"></div>
  </div>
</section>

{% endblock %}
