{% extends "base.htm" %}

{% block title %}Frankie's Sleep Score - Apr 20 - May 20 - Hello{% endblock %}

{% block content %}
<img style="border-radius:100px" width="100" height="100" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-1/c85.43.312.312/12512685_10207721097444459_1940352944983974939_n.jpg?oh=fcf5ea4e5d957f3fe0b11773024acea0&oe=57E2A54C" />

<div class="clear"></div>

<h3 style="font-weight:400; font-size: 22px; margin: 20px 0 50px 0;">Frankie's Sleep Trends</h3>

<h4 style="font-size: 14px; color: #5C6B7F; text-transform:uppercase; text-align:left; padding: 0 0 5px 0;width:670px; display:block;border-bottom: 1px solid #E8EAED; margin:0 auto;margin-bottom:15px; ">Sleep Score &#149; Apr 20 - May 20</h4>
<canvas id="canvas" style=""></canvas>
{% endblock %}

{% block footer %}
<script>
// DOM Ready
$(function() {
  try {
    Typekit.load({
      active: function() {
        //  Javascript to execute when fonts become active
        var canvas = document.getElementById('canvas');
        var canvas_width = 1500,
            canvas_height = 1100;

        var requestAnimationFrame = window.requestAnimationFrame ||
                        window.mozRequestAnimationFrame ||
                        window.webkitRequestAnimationFrame ||
                        window.msRequestAnimationFrame;

        canvas.width = canvas_width;
        canvas.height = canvas_height;
        canvas.style.width = String(canvas_width / 2) + "px";
        canvas.style.height = String(canvas_height / 2) + "px";

        var context = canvas.getContext('2d');
        context.scale(2,2);

        var myCircle = {
          radius: 30,
          startAngle: 0,
          endAngle: Math.PI * 2,
          counterClockwise: false
        };

        x = -30;
        y = -10;

        labels = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'];

        for (i = 0; i < 35; i++) {
          if (i < 8 && i > 0) {
            context.beginPath();
            context.font = '400 14px "proxima-nova", sans-serif';
            context.fillStyle = '#ddd';
            context.textAlign = 'center';
            context.textBaseline = 'middle';
            context.fillText(labels[i - 1].toUpperCase(), x, 30);
            context.stroke();
          }

          if ((i % 7) == 0) {
            y += 100;
            x = -30;
          }

          x += 100;

          text = Math.floor((Math.random() * 100) + 1);

          if (i < 2) {
            text = 0
          } else if (i > 32) {
            text = 0
          }

          drawCircle(x, y, myCircle, context, text);
        }

        function drawCircle(x, y, myCircle, context, text) {
          context.beginPath();
          context.arc(x, y, myCircle.radius, myCircle.startAngle, myCircle.endAngle, myCircle.counterClockwise);

          if (text == 0) {
            context.fillStyle = "#F8F8F9";
            context.strokeStyle = '#F3F3F4';
          } else if (text >= 80) {
            context.fillStyle = "#65D7AC";
            context.strokeStyle = '#fff';
          } else if (text >= 60) {
            context.fillStyle = "#FFC43A";
            context.strokeStyle = '#fff';
          } else {
            context.fillStyle = "#FF623C";
            context.strokeStyle = '#fff';
          }

          context.fill();
          context.stroke();
          context.closePath();
          //context.fillStyle = '#999';
          if (text > 0) {
            context.font = '400 19px "proxima-nova", sans-serif';
            context.fillStyle = '#fff';
            context.textAlign = 'center';
            context.textBaseline = 'middle';
            context.fillText(text, x, y);
            context.stroke();
          }
        }
      }
    })
  } catch(e) {
    console.log(e);
  }
});
</script>
{% endblock %}
