#content {
  background: #fff;
  margin: 0 auto;
  //max-width: ($max_width + 20) * 1px;
  max-width: 750px;
  border-bottom: 10px solid #fff;
  padding-bottom: 60px;
}

#content .center {
  text-align: center;
}

#content .center h3,
#content .center p {
  max-width: none;
}

#content .center p a:hover {
  padding-left: 5px;
}

#content section .image {
  text-align: center;
}

#content section .image .pure-img {
  display: inline-block;
}

#content .white {
  color: #fff;
}

#content .white p a {
  color: #fff;
  @include retina($image_root + 'arrow_white', 'png', 5px, 6px);
}

#content .grey p a {
  color: #444;
  @include retina($image_root + 'arrow_grey', 'png', 5px, 6px);
}

#content .buy {
  padding: 60px 0 0 0;
}

#content .buy h3 {
  padding-top: 0;
}

#content .meet-sense {
  text-align: left;
  background:#f8f8f8;
  margin-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 48em) {
    margin-top: 20px;
  }
}

#content .meet-sense h5 {
  font-size: 22px;
  font-weight: 400;
  color: #162B48;
  padding: 80px 0 0 0;

  @media screen and (max-width: 48em) {
    padding-top: 30px;
  }
}

#content .meet-sense p {
  font-size: 16px;
  color: #5C6B7F;
  line-height: 1.35em;
}

#content .meet-sense p a {
  background-color: #009AFF;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
  float: right;
  margin: 0 0 0 20px;
}

.profile img {
  margin-top: -50px;
  border-radius: 100px
}

.profile h3 {
  font-weight: 400;
  font-size: 22px;
  margin: 20px 0 0 0;
}

.profile h4 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 300;
  color: #85909F;
}
