#content {
  background: #fff;
  margin: 0 auto;
  max-width: ($max_width + 20) * 1px;
  border-bottom: 10px solid #fff;
  padding-bottom: 60px;
}

#content section {
  text-align: left;
  max-width: $base_width * 1px;
  margin: 0 auto;
  color: #424242;
}

#content section span {
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.65;
  font-weight: 400;
  display: block;

  @media screen and (max-width: 48em) {
    font-size: 12px;
  }
}

#content section h3 {
  font-weight: 300; // 100
  font-size: 38px;
  line-height: 1.10em;
  padding: 10px 0 15px 0;
  max-width: 12em;
  letter-spacing: -1px;

  @media screen and (max-width: 48em) {
    font-size: 34px;
    padding: 15px 0 20px 0;
  }
}

#content section p {
  max-width: 28em;
  opacity: 0.75;
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 400; // 300
  padding-bottom: 15px;

  @media screen and (max-width: 48em) {
    font-size: 15px;
    max-width: none;
  }
}

#content section p:last-of-type {
  padding-bottom: 0;
}

#content section p a {
  font-weight: 600;
  font-size: 12px;
  color: $blue_color_dark;
  text-transform: uppercase;
  text-decoration: none;

  @include retina($image_root + 'arrow_blue', 'png', 5px, 6px);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 10px;
  @include transition(padding 0.1s linear);
}

#content section p a:hover {
  text-decoration: underline;
  padding-right: 15px;
  @include transition(padding 0.1s linear);
}

#content .center {
  text-align: center;
}

#content .center h3,
#content .center p {
  max-width: none;
}

#content .center p a:hover {
  padding-left: 5px;
}

#content section .image {
  text-align: center;
}

#content section .image .pure-img {
  display: inline-block;
}

#content .white {
  color: #fff;
}

#content .white p a {
  color: #fff;
  @include retina($image_root + 'arrow_white', 'png', 5px, 6px);
}

#content .grey p a {
  color: #444;
  @include retina($image_root + 'arrow_grey', 'png', 5px, 6px);
}

#content .buy {
  padding: 60px 0 0 0;
}

#content .buy h3 {
  padding-top: 0;
}
