// retina.sass
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

// Submitted by Nathan Crank
// nathancrank.com

@mixin retina($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at1_5x_path: "#{$path}@1.5x.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
  $at3x_path: "#{$path}@3x.#{$ext}";

  -moz-background-size: $w $h;
  -ie-background-size: $w $h;
  -o-background-size: $w $h;
  -webkit-background-size: $w $h;
  background-size: $w $h;
  background-image: url("#{$at1x_path}");

  @media screen and (-webkit-min-device-pixel-ratio : 1.5),
    screen and (-o-min-device-pixel-ratio: 3/2),
    screen and (min--moz-device-pixel-ratio: 1.5),
    screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("#{$at2x_path}");
  }
}
