<footer>
  <div class="pure-g">
    <div class="pure-u-sm-1-24 pure-u-1-24"></div>
    <div class="pure-u-sm-23-24 pure-u-4-24">
      <ul>
        <li class="category">Sense</li>
        <li><a href="/" title="About Sense">About Sense</a></li>
        <li><a href="/how-sense-works" title="How Sense works">How Sense works</a></li>
        {#<li><a href="/design" title="Design">Design</a></li>#}
        <li><a href="/technology" title="Technology">Technology</a></li>
        <li><a href="/videos" title="Videos">Videos</a></li>
        <li><a href="//store.{{root_domain}}/" title="Store">Store</a></li>
        <li><a href="//support.{{root_domain}}/" title="Help and support">Help and support</a></li>
      </ul>
    </div>
    <div class="pure-u-sm-1-24"></div>
    <div class="pure-u-sm-23-24 pure-u-4-24">
      <ul>
        <li class="category">Company</li>
        <li><a href="/about" title="About us">About us</a></li>
        <li><a href="/jobs" title="Jobs">Jobs</a></li>
        <li><a href="/press" title="Press and media">Press and media</a></li>
        <li><a href="/contact" title="Contact us">Contact us</a></li>
        <li><a href="/legal" title="Legal">Legal</a></li>
      </ul>
    </div>
    <div class="pure-u-sm-1-24"></div>
    <div class="pure-u-sm-23-24 pure-u-4-24">
      <ul>
        <li class="category">More of Hello</li>
        <li><a target="_blank" href="//twitter.com/hello" title="Twitter">Twitter</a></li>
        <li><a target="_blank" href="//instagram.com/hello" title="Instagram">Instagram</a></li>
        <li><a target="_blank" href="//www.facebook.com/helloinc" title="Facebook">Facebook</a></li>
        <li><a target="_blank" href="//pinterest.com/helloinc" title="Pinterest">Pinterest</a></li>
        <li><a target="_blank" href="//blog.{{root_domain}}/" title="Blog">Blog</a></li>
      </ul>
    </div>
    <div class="pure-u-sm-1-24"></div>
    <div class="pure-u-sm-23-24 pure-u-10-24 logo">
      <em></em>Hello &copy; {{year}}
    </div>
  </div>
</footer>

<div class="menu">
  <div>
    <ul>
      <li><a href="/" title="About Sense">About Sense</a></li>
      <li><a href="/how-sense-works" title="How Sense works">How Sense works</a></li>
      <li><a href="/technology" title="Technology">Technology</a></li>
      <li><a href="/videos" title="Videos">Videos</a></li>
      <li><a href="/about" title="About us">About us</a></li>
      <li><a href="//store.{{root_domain}}/" title="Store">Store</a></li>
      <li><a href="//support.{{root_domain}}/" title="Help and support">Help and support</a></li>
    </ul>
  </div>
</div>
