<div id="header-container">
  <div class="background">
    {% if
      page == 'sleep_score'
    %}
      <header class="pure-g dark animated fadeInDown">
    {% else %}
      <header class="pure-g animated fadeInDown">
    {% endif %}
      <div class="pure-u-sm-1-24 pure-u-1-24"></div>
      <div class="pure-u-sm-11-24 pure-u-3-24 logo animated fadeInDown">
        <a href="/" title="Hello"><h1>Hello</h1></a>
      </div>
      <div class="pure-u-sm-11-24 pure-u-19-24">
        <a href="javascript:return false;" class="mobile-menu">
          <span class="hamburger"></span>
          <span class="text">Menu</span>
        </a>
        <ul>
          <li><a href="//{{root_domain}}" title="Learn about Sense">Learn about Sense</a></li>
        </ul>
      </div>
      <div class="pure-u-sm-1-24"></div>
    </header>
  </div>
</div>

<div id="header"></div>
<div class="clear"></div>
