<div id="header-container">
  <div class="background">
    {% if
      page == 'sleep_score'
    %}
      <header class="pure-g dark animated fadeInDown">
    {% else %}
      <header class="pure-g animated fadeInDown">
    {% endif %}
      <div class="pure-u-sm-1-24 pure-u-1-24"></div>
      <div class="pure-u-sm-11-24 pure-u-3-24 logo animated fadeInDown">
        <a href="/" title="Hello"><h1>Hello</h1></a>
      </div>
      <div class="pure-u-sm-11-24 pure-u-19-24">
        {#<ul>
          <li><a class="store" href="//store.hello.is" title="Buy Sense">Buy Sense</a></li>
        </ul>#}

        {#<a href="javascript:return false;" class="mobile-menu">
          <span class="hamburger"></span>
          <span class="text">Menu</span>
        </a>
        <ul>
          {% if page == 'how-sense-works' %}
            <li><a class="current" href="/how-sense-works" title="How Sense works">How Sense works</a></li>
          {% else %}
            <li><a href="/how-sense-works" title="How Sense works">How Sense works</a></li>
          {% endif %}

          {% if page == 'design' %}
            <li><a class="current" href="/design" title="Design">Design</a></li>
          {% else %}
            <li><a href="/design" title="Design">Design</a></li>
          {% endif %}

          {% if page == 'technology' %}
            <li><a class="current" href="/technology" title="Technology">Technology</a></li>
          {% else %}
            <li><a href="/technology" title="Technology">Technology</a></li>
          {% endif %}

          {% if page == 'videos' %}
            <li><a class="current" href="/videos" title="Design">Videos</a></li>
          {% else %}
            <li><a href="/videos" title="Videos">Videos</a></li>
          {% endif %}

          {% if page == 'about' %}
            <li><a class="current" href="/about" title="About us">About us</a></li>
          {% else %}
            <li><a href="/about" title="About us">About us</a></li>
          {% endif %}

          <li><a class="store" href="//store.hello.is" title="Buy Sense">Buy Sense</a></li>
        </ul>
      </div>#}
      <div class="pure-u-sm-1-24"></div>
    </header>
  </div>
</div>

<div id="header"></div>
<div class="clear"></div>
