<div id="header-container">
  <div class="background">
    {% if
      page == 'sleep_score'
    %}
      <header class="pure-g dark animated fadeInDown">
    {% else %}
      <header class="pure-g animated fadeInDown">
    {% endif %}
      <div class="pure-u-sm-1-24 pure-u-1-24"></div>
      <div class="pure-u-sm-11-24 pure-u-22-24 logo animated fadeInDown">
        <a href="/" title="Hello"><h1>Hello</h1></a>
      </div>
      <div class="pure-u-sm-1-24"></div>
    </header>
  </div>
</div>

<div id="header"></div>
<div class="clear"></div>
