<link rel="dns-prefetch" href="//hellocdn.net" />
<link rel="prerender" href="//store.hello.is/sense" />
<link rel="prerender" href="/how-sense-works" />
<link rel="prerender" href="/design" />
<link rel="prerender" href="/technology" />

{% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<link rel="canonical" href="https://{{root_domain}}/" />
<link rel="image_src" href="https://hello.is/static/img/website.jpg" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
