<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

<meta name="description" content="Sense by Hello wakes you up feeling great, improves your sleep, and helps you learn how the environment of your bedroom affects your rest." />
<meta property="og:site_name" content="Hello" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://hello.is/" />
<meta property="og:title" content="Sense by Hello" />
<meta property="og:description" content="Sense by Hello wakes you up feeling great, improves your sleep, and helps you learn how the environment of your bedroom affects your rest." />
<meta property="og:image" content="https://hello.is/static/img/website.jpg" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:url" content="https://hello.is/" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Sense by Hello" />
<meta name="twitter:site" content="@hello" />
<meta name="twitter:description" content="Sense by Hello wakes you up feeling great, improves your sleep, and helps you learn how the environment of your bedroom affects your rest." />
<meta name="twitter:image" content="https://hello.is/static/img/website.jpg" />

<meta itemprop="brand" content="Hello" />
<meta itemprop="currency" content="USD" />
<meta itemprop="price" content="129.00" />
<meta itemprop="availability" content="in_stock" />
<meta itemprop="description" content="Sense by Hello wakes you up feeling great, improves your sleep, and helps you learn how the environment of your bedroom affects your rest." />

<meta http-equiv="x-dns-prefetch-control" content="on" />
